{% extends "layout.twig" %}

{% block content %}
    <section>
        {% if message %}
            <div class="alert alert-warning">{{ message }}</div>
        {% endif %}
        <form action="/post/save" method="POST">
            <div class="form-group">
                <label for="name">Név</label>
                <input class="form-control" type="text" name="name" id="name" required>
            </div>
            <div class="form-group">
                <label for="body">Szövegtörzs</label>
                <textarea class="form-control" name="body" id="body" cols="30" rows="10" required></textarea>
            </div>
            <div class="form-group">
                <label for="author">Szerző</label>
                <select class="form-control" name="author" id="author">
                    {% for author in authors.data %}
                        <option value="{{ author.id }}">{{ author.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Mentés</button>
            </div>
        </form>
    </section>
{% endblock %}

