{% extends "layout.twig" %}

{% block content %}
    <section id="authors">
        {% for author in authors.data %}
            <a href="/authors/{{ author.id }}" class="post-item card mb-3">
                <span class="card-body">
                    {{ author.name }}
                </span>
            </a>
        {% endfor %}
    </section>
{% endblock %}

