{% extends "layout.twig" %}

{% block content %}
    <section id="author">
        <h1>{{ author.name }}</h1>
        <div>
            <a href="/authors">Összes író</a> | <a href="/authors/{{ author.id }}/posts">Írásai</a>
        </div>
    </section>
{% endblock %}
