{% extends "layout.twig" %}

{% block content %}
    <section>
        <h1>Teszt Oldal az MTTDigital feladatainak</h1>

        Az oldal azért jött létre, hogy bemutassa a tesztfeladatok működését <br>
        Elkészítéséhez felhasználtam a delight-im/router package-et, a Guzzle könyvtárat, a Twig template-et, és a
        bootstrap css keretrendszert <br>
        Saját készítésű MVC-t használtam, mely az alapvető máveletek ellátására elegendő <br>
        A navigációs sávban a pdf-ben megadott címek alapján található meg a kölünböző feladatok megoldásának eredménye.
        Forráskódban a következők szerint találhatóak meg:
        <br>
        <ul>
            <li>Tömb és string műveletek -> app\Tasks\TaskOne</li>
            <li>XML fájl kezelés -> app\Tasks\TaskTwo</li>
            <li>Blog -> app\Controllers\PostsController és app\Controllers\AuthorsController</li>
        </ul>
        A kód minden része szabadon felhasználható
    </section>
{% endblock %}
