{% extends "layout.twig" %}

{% block content %}
    <article class="mt-5">
        <h1>{{ post.name }}</h1>
        <h5><a href="/authors/{{ author.id }}">{{ author.name }}</a> - {{ post.created_at }}</h5>
        <div>
            {{ post.body }}
        </div>
    </article>
{% endblock %}
