{% extends "layout.twig" %}

{% block content %}
    <section id="posts">
        {% if author %}
            <h1>{{ author.name }}</h1>
            <div class="mb-3">
                <a href="/authors">Összes író</a> | <a href="/posts">Összes írás</a>
            </div>
        {% endif %}
            <div class="d-flex mb-5">
                <a href="/posts/{{ lastWeekFrom }}/{{ lastWeekTo }}" class="post-item card flex-fill">
                    <span class="card-body">
                        Elmúlt egy hét
                    </span>
                </a>
                <a href="/posts/{{ lastMonthFrom }}/{{ lastMonthTo }}" class="post-item card flex-fill">
                    <span class="card-body">
                        Elmúlt egy hónap
                    </span>
                </a>
            </div>
        {% for post in posts.data %}
            <a href="/posts/{{ post.slug }}" class="post-item card mb-3">
                <span class="card-body">
                    {{ post.name }}
                    <span class="float-right">
                        {{ post.created_at }}
                    </span>
                </span>
            </a>
        {% endfor %}

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% for link in links %}
                    <li class="page-item {% if link.active %}active{% endif %} {% if link.disabled %}disabled{% endif %}">
                        <a class="page-link" href="{{ link.link }}">{{ link.text }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </section>
{% endblock %}