{% extends "layout.twig" %}
{% block content %}
    <section id="task-one">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Tömb és String Műveletek</h1>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h2> Részhalmaz összege</h2>
                    </div>
                    <div class="card-body">
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Feladat leírásában megadott példa</h4>
                                    </div>
                                    <div class="card-body">
                                        Vizsgált tömb: [2, 7, 6, 2, 1, 1, 8] <br>
                                        Keresett érték: 12 <br>
                                        Indexek: {{ taskSubArray }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Saját példa</h4>
                                    </div>
                                    <div class="card-body">
                                        Vizsgált tömb: [3, 4, 5, 1, 2, 6, 7] <br>
                                        Keresett érték: 10 <br>
                                        Indexek: {{ testSubArray }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3>Palindrom</h3>
                    </div>
                    <div class="card-body">
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Palindrom e: A bihari hír a hiba</h4>
                                    </div>
                                    <div class="card-body">
                                        {% if testPalindromOne == 1 %}
                                            Igen
                                        {% else %}
                                            Nem
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Palindrom e: Nem Palindrom</h4>
                                    </div>
                                    <div class="card-body">
                                        {% if testPalindromTwo == 1 %}
                                            Igen
                                        {% else %}
                                            Nem
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <h2>Zárójelek</h2>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        Feladatban megadott példák
                    </div>
                    <div class="card-body">
                        <div class="border-bottom pb-2">
                            Bemeneti string: ()[{}()] <br>
                            {% if testBracketsOne < 0 %}
                                Jól zárójelezett
                            {% else %}
                                Nem megfelelő a zárójelezés, Hibás index: {{ testBracketsOne }}
                            {% endif %}
                        </div>
                        <div class="pt-1">
                            Bemeneti string: ([{]}) <br>
                            {% if testBracketsTwo < 0 %}
                                Jól zárójelezett
                            {% else %}
                                Nem megfelelő a zárójelezés, Hibás index: {{ testBracketsTwo }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock %}