{% extends "layout.twig" %}

{% block content %}
<section id="task-two">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>XML Műveletek</h1>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h2>Horror filmek 2010 után, megjelenés szerint csökkenő sorrendbe</h2>
                    </div>
                    <div class="card-body">
                        {% if movies %}
                            {% for movie in movies %}
                                {{ movie.title }} ({{ movie.date }}) <br>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}